<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>PCSO Lottery Checker</title>
</head>

<body>
    <nav>
    </nav>
    <div class="row">
        <div class="col s8">
            <form method="POST" action="/">
                <div class="card">
                    <div class="card-header blue" style="padding: 8px;">
                        <h5 class="title" style="padding: 0; margin: 0; font-weight: bold; color: white;">Ticket Entry</h5>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field col s12">
                                    <input placeholder="Ticket Numbers" name="lotteryNumbers" id="ticket_numbers" type="text" class="validate" required>
                                    <label for="ticket_numbers">Ticket Numbers</label>
                                    <span class="helper-text">Ticket Numbers are dash (-) separated or if you prefer comma (,) separated.</span>
                                </div>
                                <div class="col s12">
                                    <label>Lottery Type</label>
                                    <select name="type" class="browser-default" required>
                                        <option value="" disabled selected>Choose one</option>
                                        <% lotteryTypesName.forEach((type, index) => { %>
                                            <option value="<%= index %>"><%= type %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="col s12">
                                    <label>Begin Date</label>
                                    <input type="date" name="lotteryBeginDate" required>
                                </div>
                                <div class="col s12">
                                    <label>Expire Date</label>
                                    <input type="date" name="lotteryExpireDate" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn green waves-effect" type="submit">Check</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>

</html>